@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  background: linear-gradient(180deg, #231f31, #0d020e);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height:800px; */
}

.main {
  height: 90vh;
  background: #000;
  box-shadow: 0px 0px 100px 40px rgba(0, 0, 0, 0.75);
  width: 80%;
  /* min-height:600px; */
  min-width: 500px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 25px;
  overflow: hidden;
  /* max-width: 50%; */
}

.container-fluid {
  width: 100%;
  padding: 0 0;
  border-radius: 25px;
}

.title-container {
  height: 65vh;
  /* -webkit-background: url("img/weather-app-bg-min.png") center center no-repeat; */
  background: url("img/weather-app-bg.webp") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: space-between;
  text-align: center;
  background-color:#13041f;

  color: rgb(250, 220, 181);
}

.title-container__weather-icon {
  font-size: 200px;
  margin: 0px 0;
  /* margin-right: 8%; */
  color: rgb(250, 220, 181);
  border-color: #000;
  text-shadow: 2px 2px 8px #000;
}

.title-container__title {
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
  margin: 0 2%;
  margin-top: 8%;
  /* white-space:nowrap; */
}

.title-container__subtitle {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  margin: 0 2%;
}

.form-container {
  background-color: #13041f;
  height: 20vh;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  align-items: top;
  flex-wrap: wrap;
  flex-grow: 1;
  border: 0;
  outline:0;
}

.form-container> :first-child {
  justify-content: right;
}

.credits-container {
  /* heig ht:100%; */
  font-size:18px;
  text-align: center;
  background-color: #13041f;
  margin:0;
  padding-bottom:4%;
  color:#4d137c;
  text-shadow: 2px 1px 2px black;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  width: 30%;
  height: auto;
  padding-bottom: 4px;
  color: #fff !important;
  letter-spacing: 2px;
  margin-bottom: 4%;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
  -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  padding: 8px 18px;
  margin: 0 2px;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 18px;
  cursor: pointer;
  background-color: #f7d782;
  color: rgb(55, 19, 87);
  font-weight: 800;
}

button:active {
  outline: none;
}

.location-btn {
  float:right;
  right: 230px;
  height: 38px;
}

.scale-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  overflow: hidden;
  padding: 0% 8%;
  margin-bottom: 10px;
  text-align: right;
  flex-shrink:0;
}

.scale-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.scale-field label {
  display: inline-block;
  width: 60px;
  background-color: rgb(55, 19, 87);
  color: #f7d782;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.9), 0 0px rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;

}

.scale-field label:hover {
  cursor: pointer;
}

.scale-field input:checked+label {
  background-color: #f7d782;
  color: rgb(19, 5, 31);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.scale-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.scale-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.input-field {
  display: flex;
}

.weather-container {
  display:flex;
  flex-direction: column;
  align-items: top;
  justify-content: space-between;
  text-align: center;
  flex-grow:0;
}

.weather__output {
  margin-top:25px;
  padding-top: 5%;
  text-align: left;
}

.weather__info {
  width: auto;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  padding-top: 10px;
  margin: 0 auto;
}

.weather__key {
  color: #e29d7d;
  border-bottom: solid 2px rgba(255, 255, 255, 0.06);
  padding: 5px 5px 0;
  font-weight: 400;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: rgb(250, 220, 181);
  font-weight: 400;
}

.weather__error {
  color: #f16051;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
}

.scale-icon {
  font-size:28px;
  padding-left:2%;

}

.AutoCompleteText {
  width: 300px;
  border: 1px solid grey;
  font-family: "Open Sans", serif;
  color: rgb(250, 220, 181);
  height: 40px;
  display: flex;
  flex-direction: row;
  position: absolute;
}

.AutoCompleteText input[type="text"] {
  width: 100%;
  border: none;
  font-family: "Open Sans", serif;
  color: rgb(250, 220, 181);
}

.AutoCompleteText ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 1px solid grey;
  position: absolute;
  background-color: #000;
  z-index: 2;
  overflow: auto;
  height: 15vh;
}

.AutoCompleteText li {
  padding: 10px 5px;
  cursor: pointer;
}

.AutoCompleteText li:hover {
  text-decoration: underline;
  background-color: grey;
}

.AutoCompleteText__submit-btn {
  display: flex;
  position: relative;
  top: 5px;
  right: 2px;
}

@media only screen and (max-width: 600px) {
  .main {
    height: 100vh;
    background: #fff;
    box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
    overflow: hidden;
    max-width: 100%;
    min-width: 300px;
    min-height:600px;
  }

  .AutoCompleteText {
    width: 60%;
  }

  .weather__output {
    margin-top:10px;
    padding-top: 5%;
    text-align: left;
  }

  .scale-field {
    /* margin-top: 70%; */
    /* flex-shrink:0; */
    flex-grow:0;
  }

  .title-container {
    height: 75vh;
  }

  .location-btn {
    position: relative;
    right: 0px;
    height: 38px;
    cursor:pointer;
  }

  .form-container {
    padding-top: 5%;
  }

  .title-container__weather-icon {
    font-size: 35vw;
    margin: 0px 0;
    margin-bottom: 20px;
    color: rgb(250, 220, 181);
    border-color: #000;
    text-shadow: 2px 2px 8px #000;
  }

  .title-container__title {
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 1.3;
    font-family: 'Roboto Slab', serif;
    margin: 0 0%;
    margin-top: 4%;
  }

  .credits-container {
    /* heig ht:100%; */
    font-size:14px;
    text-align: center;
    background-color: #13041f;
    /* margin-top:4%; */
    /* padding-bottom:4%; */
    color:#be95e0;
    text-shadow: 2px 1px 2px black;
  }
}